body{
    font-family: Arial;
    margin:0;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#0b3d91;
    color:white;
}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px;
    background:#f4f4f4;
}

.hero button{
    padding:10px 20px;
    background:#0b3d91;
    color:white;
    border:none;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
border:1px solid #ddd;
padding:20px;
width:200px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
}